<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-info">Update The Task</h1>
        <form method="POST">
            <label for="task" class="form-label">Task Name:</label>
            <input type="text" name="task" id="task" class="form-control" value="{{senddata[1]}}"/>

            <label for="status" class="form-label mt-3">Status:</label>
            <select name="status" id="status" class="form-select">
                <option value="New">New</option>
                <option value="Started" {%if senddata[2]=='Started'%}selected{%endif%}>Started</option>
                <option value="Inprogress" {%if senddata[2]=='Inprogress'%}selected{%endif%}>Inprogress</option>
                <option value="Completed" {%if senddata[2]=='Completed'%}selected{%endif%}>Completed</option>
            </select>

            <input type="submit" value="Update Task" class="btn btn-info mt-3"/>
        </form>
        </form>
    </div>
</body>
</html>